<!doctype html>
<html>
<head>
    <meta charset = "utf-8">
    <title>Oscillations</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives/components.js"></script>
    <script src="js/directives/main-out.js"></script>
    <script src="js/directives/oscillators.js"></script>
    <script src="js/directives/oscillator.js"></script>
    <script src="js/directives/amps.js"></script>
    <script src="js/directives/amp.js"></script>
    <script src="js/directives/filters.js"></script>
    <script src="js/directives/filter.js"></script>
    <script src="js/directives/keyboard.js"></script>
    <script src="js/factories/audio-context.js"></script>
    <script src="js/factories/modules.js"></script>
    <script src="js/factories/frequency.js"></script>
    <script src="js/filters/removeId.js"></script>
</head>
<body ng-app="oscillations">
    <components></components>
</body>
</html>