<div class="filter col-xs-2">
    <form class="form-inline" novalidate>
        <fieldset>
            <div class="row">
                <label>{{ filter.name }}</label><br>
            </div>
            <div class="row">
                <label>Type</label><select ng-model="filter.module.type" ng-change="typeChange()">
                    <option value="lowpass" selected>Lowpass</option>
                    <option value="highpass">Highpass</option>
                </select>
            </div>
            <div class="row">
                <label>Freq</label><input type="number" ng-model="filter.module.frequency.value" ng-min="0" ng-max="8000"/>
            </div>
            <div class="row">
                <label>Gain</label><input type="number" ng-model="filter.module.gain.value" ng-min="0" ng-max="500"/>
            </div>
            <div class="row">
                <label>Output</label><select name="output" ng-options="output as output.name for output in outputs track by output.id" ng-model="output" ng-change="changeOutput()"></select>
            </div>
        </fieldset>
    </form>
</div>